@import "../config.scss";

.loading-container {
  background: {
    color: $backgroundColor;
    image: url('../../img/loading_background.jpg');
    size: cover;
    position: center;
    repeat: no-repeat;
  };
}