@import '../config';

.q-container {
  height: 100%;
  background: $backgroundColor;
}
.q-info {
  position: absolute;
  width: 100%;
  top: .2rem;
  color: $textColor;
  text-align: center;
  line-height: .2rem;
}
.q-question {
  position: absolute;
  height: 22%;
  width: 90%;
  top: .6rem;
  left: 5%;
  padding: .2rem .3rem;
  background: {
    image: url('http://7xlrkz.com1.z0.glb.clouddn.com/question_background.jpg');
    size: 100% 100%;
    repeat: no-repeat;
  };
  span {
    color: #35110f;
    font-size: .18rem;
  }
}
.q-options {
  position: absolute;
  width: 100%;
  top: 38%;
}
.q-toolbar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: .4rem;
  color: #fff;
  background: rgba(0, 0, 0, .2);
}