@import '../config';

$prefix-cls: q;

.#{$prefix-cls}-container {
  height: 100%;
  background: $backgroundColor;
}
.#{$prefix-cls}-info {
  position: absolute;
  width: 100%;
  top: .2rem;
  color: $textColor;
  text-align: center;
  line-height: .2rem;
}
.#{$prefix-cls}-question {
  position: absolute;
  height: 22%;
  width: 86%;
  top: .6rem;
  left: 7%;
  padding: .2rem .3rem;
  background: {
    image: url('http://7xlrkz.com1.z0.glb.clouddn.com/board_background.jpg');
    position: -100% 0;
    size: 200% 100%;
  };
  span {
    color: #35110f;
    font-size: .18rem;
  }
}
.#{$prefix-cls}-options {
  position: absolute;
  width: 100%;
  top: 38%;
}
.#{$prefix-cls}-toolbar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: .4rem;
  color: #fff;
  background: rgba(0, 0, 0, .2);
}