@import '../config';

.choose-container {
  height: 100%;
  overflow: hidden;
  background: $backgroundColor;
}
.choose-title {
  position: absolute;
  top: 16%;
  width: 100%;
  color: $btnTextColor;
  text-align: center;
  text-shadow: 0 0 10px rgba(253, 194, 145, .8);
}
.choose-logo {
  position: absolute;
  top: 2%;
  height: 13%;
  width: auto;
}
.choose-btn-group {
  position: absolute;
  top: 33%;
  width: 100%;
}