@import '../config';

$prefix-cls: choose;

.#{$prefix-cls}-container {
  height: 100%;
  overflow: hidden;
  background: $backgroundColor;
}
.#{$prefix-cls}-title {
  position: absolute;
  top: 16%;
  width: 100%;
  color: $btnTextColor;
  text-align: center;
  text-shadow: 0 0 10px rgba(253, 194, 145, .8);
}
.#{$prefix-cls}-logo {
  position: absolute;
  top: 2%;
  height: 13%;
  width: auto;
}
.#{$prefix-cls}-btn-group {
  position: absolute;
  top: 33%;
  width: 100%;
}