@import '../config';

$prefix-cls: board;

.#{$prefix-cls}-text {
  display: block;
  font-size: .26rem;
  line-height: .5rem;
  color: $textColor;
  text-align: center;
}
.#{$prefix-cls}-grade {
  position: absolute;
  top: 42%;
  left: 50%;
  font-size: .4rem;
  text-align: center;
  color: $btnTextColor;
  transform: translate3d(-50%, 0, 0);
}
.#{$prefix-cls}-btn {
  position: absolute;
  bottom: 5%;
  left: 10%;
}