@import 'config.scss';

//normalize start
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 80px;
  text-size-adjust: 100%;
  font-family: Arial, "Microsoft Yahei", Helvetica, sans-serif;
  //small android
  @media (min-device-width: 330px ) { font-size: 90px }
  //medium android
  @media (min-device-width: 360px ) { font-size: 95px }
  //big android
  @media (min-device-width: 400px ) { font-size: 110px }
  //iphone 5
  @media (max-device-width : 321px) and (min-device-height : 500px) { font-size: 90px }
  //iphone 6
  @media (min-device-width : 375px) and (max-device-width : 667px) { font-size: 115px }
  //iphone 6 plus
  @media (min-device-width : 414px) and (max-device-width : 736px) { font-size: 125px }
}
body {
  font-size: .14rem;
  line-height: 1.42857143;
}
footer,
header,
nav,
section {
  display: block;
}
a {
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  outline: 0;
  text-decoration: none;
}
a:focus {
  outline: none;
  text-decoration: none;
}
a:active {
  outline: 0;
}
p {
  margin: 0 0 10px 0;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  border: 0;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button:focus {
  outline: none!important;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="submit"] {
  border: none;
}
input[type="submit"]:focus {
  outline: none;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
//normalize end

//common class start
.clearfix:before,
.clearfix:after {
  content:" ";
  display:table;
}
.clearfix:after {
  clear:both;
}
.btn {
  cursor: pointer;
  width: 80%;
  height: .54rem;
  text-align: center;
  border-radius: 4px;
  margin: 0 auto .15rem;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  background: {
    image: url('http://7xlrkz.com1.z0.glb.clouddn.com/button_background.png');
    size: 100% 200%;
    position: 0 0;
  };
  span {
    color: $btnTextColor;
    font-size: .16rem;
    line-height: .52rem;
    text-shadow: 0 0 10px rgba(253, 194, 145, .8);
  }
  &:focus,
  &:active {
    outline: none;
    background: {
      position: 0 -100%;
    };
  }
}
//common class end

//animation start
@keyframes door-enter {
  from {
    transform: scale3d(0, 1, 1);
    opacity: 0;
  }
  to {
    transform: scale3d(1, 1, .1);
    opacity: 1;
  }
}
.door-enter {
  animation: door-enter .2s both ease-in-out;
}

@keyframes zoom-enter {
  0% {
    transform: scale3d(.3, .3, .3);
    opacity: 0;
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
.zoom-enter {
  animation: zoom-enter .3s both cubic-bezier(0.4, 0, 0, 1.5);
}
//animation end

#app {
  background: {
    image: url('http://7xlrkz.com1.z0.glb.clouddn.com/main_background.jpg');
    size: cover;
  };
}